:root {
  font-family: Montserrat, sans-serif;
  background-color: #2f3242; }

.header {
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent; }

.header-logo {
  margin-left: 30px;
  width: 172px;
  height: 29px;
  background-image: url(/assets/images/pictures/logo.png); }

.user-block {
  margin-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 370px; }

.user-block_add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 133px;
  height: 48px;
  border-radius: 24px;
  border: 2px solid #2196f3;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent; }

.add-btn_plus {
  font-size: 30px;
  font-weight: 400;
  color: #2196f3; }

.user-block_search-btn {
  width: 27px;
  height: 27px;
  background-image: url(/assets/images/icons/search.png); }

.user-block_notification-btn {
  width: 26px;
  height: 31px;
  background-image: url(/assets/images/icons/bell.png); }

.user-profile-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px; }

.user-profile-block_user-photo {
  width: 56px;
  height: 50px;
  background-image: url(/assets/images/pictures/user.png); }

.user-profile-block_user-menu-btn {
  display: block;
  width: 12px;
  height: 8px;
  background-image: url(/assets/images/icons/arrow.png); }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.user-panel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1070px;
  width: 80px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  background-color: transparent; }

.user-panel-block:hover {
  width: 200px; }

.panel-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 460px; }

.panel-btn-block_home-btn {
  width: 31px;
  height: 26px;
  background-image: url(/assets/images/icons/home.png); }

.panel-btn-block_menu-btn {
  width: 28px;
  height: 19px;
  background-image: url(/assets/images/icons/menu.png); }

.panel-btn-block_trending-btn {
  width: 31px;
  height: 19px;
  background-image: url(/assets/images/icons/trending.png); }

.panel-btn-block_message-btn {
  width: 31px;
  height: 24px;
  background-image: url(/assets/images/icons/message.png); }

.panel-btn-block_friends-btn {
  width: 34px;
  height: 22px;
  background-image: url(/assets/images/icons/friends.png); }

.screen-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset; }

.message-control-block {
  height: 96px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  background-color: #2196f3; }

.message-btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 62px;
  width: 300px; }

.inbox-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px; }

.inbox-block_img {
  width: 18px;
  height: 18px;
  background-image: url(/assets/images/icons/inbox.png); }

.inbox-block_txt {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400; }

.sent-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px; }

.sent-block_img {
  width: 19px;
  height: 16px;
  background-image: url(/assets/images/icons/telegram.png); }

.sent-block_txt {
  color: #2b2d3c;
  font-size: 18px;
  font-weight: 400; }

.trash-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px; }

.trash-block_img {
  width: 14px;
  height: 18px;
  background-image: url(/assets/images/icons/delete.png); }

.trash-block_txt {
  color: #2b2d3c;
  font-size: 18px;
  font-weight: 400; }

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px;
  width: 320px; }

.filter-block_txt {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400; }

.filter-block_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: #ffffff;
  width: 157px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent; }

.filter-block_arrow {
  width: 12px;
  height: 8px;
  background-image: url(/assets/images/icons/arrow.png); }

.messages-list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  height: 977px;
  -webkit-box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  background-color: #2b2d3c; }

.message-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  height: 215px;
  width: 536px;
  border-bottom: 2px solid #383b4a;
  background-color: transparent; }

.message-block:hover {
  background-color: #2f3242;
  cursor: pointer; }

.message-block_user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%; }

.message-block_user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.message-block_user-photo_first {
  margin-right: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(/assets/images/pictures/user.png); }

.message-block_username {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700; }

.message-block_date {
  color: #2196f3;
  font-size: 14px;
  font-weight: 400; }

.message-block_txt {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #2196f3;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0.32px; }

.conversation-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 536px;
  height: 110px; }

.conversation-btn-block_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 449px;
  height: 51px;
  border-radius: 5px;
  border: none;
  background-color: #2196f3; }

.conversation-btn-block_btn_txt {
  margin-right: 30px;
  margin-left: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400; }

.conversation-btn-block_btn_plus {
  color: #79baf0;
  font-size: 30px; }

.message-block-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  height: 955px;
  width: 640px;
  background-color: transparent; }

.message-send-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.message-block-area_input {
  margin-right: 20px;
  padding-left: 23px;
  width: 440px;
  height: 51px;
  border-radius: 10px;
  border: 1px solid rgba(156, 161, 178, 0.3);
  color: #9ca1b2;
  font-size: 16px;
  background-color: #404359; }

.message-block-area_input_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 133px;
  height: 48px;
  border-radius: 24px;
  border: 2px solid #2196f3;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent; }

.message-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 25%;
  background-color: #2196f3; }
